.home-h1{

}
.home-h1 .t1{
    line-height: 60px;
}
.home-h1 .t1 .name{
    font-size: 30px;
}
.home-h1 .t1 .position{
    font-size: 18px;
    color: #999999;
    margin-left: 15px;
}
.home-h1 .t2 .layui-badge{
    margin: 0 5px;
}
.news-box{
    padding: 10px 0;
}
.news-box .ban-box{
    float: left;
    width: 560px;
    height: 478px;
    margin-right: 20px;
    /*border-radius: 8px;*/
    /*background-color: #ffffff;*/
}
.news-box .card-box{
    float: left;
    width: 415px;
}
.news-box .card-box .layui-card{
    border-radius: 8px;
}
.news-box .card-box .layui-card-header{
    -ms-border-radius-topleft: 10px;
    -ms-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    height: auto;
    color: #ffffff;
    background:#11c1fe;
    background:-webkit-linear-gradient(left,#11c1fe,#367cfe);
    background:-o-linear-gradient(right,#11c1fe,#367cfe);
    background:-moz-linear-gradient(right,#11c1fe,#367cfe);
    background:linear-gradient(to right,#11c1fe,#367cfe);
}
.news-box .card-box .layui-card-header .t1{
    font-size: 22px;
    line-height: 30px;
    padding-top: 15px;
}
.news-box .card-box .layui-card-header .t2{
    line-height: initial;
    height: 42px;
}
.news-box .card-box .layui-form-item{
    font-size: 14px;
}
.news-box .card-box .layui-form-item .layui-form-label{
    text-align-last:justify;
    text-align:justify;
    text-justify:distribute-all-lines;
}
.news-box .card-box .word-box{
    line-height: 38px
}
.news-box .card-box .card-btn-box{
 position: relative;
}
.news-box .card-box .card-btn-box .card-tel-input{
    border: 1px solid #437aff;
}
.news-box .card-box .card-btn-box .card-tal-btn{
    position: absolute;
    top: 0;
    right: 0;
    background:#11c1fe;
    background:-webkit-linear-gradient(left,#11c1fe,#367cfe);
    background:-o-linear-gradient(right,#11c1fe,#367cfe);
    background:-moz-linear-gradient(right,#11c1fe,#367cfe);
    background:linear-gradient(to right,#11c1fe,#367cfe);
}
.news-box .card-box .tel-box{
    color: #437aff;
    padding: 10px 0 20px 0;
}
.news-box .card-box .tel-label{
    float: left;
    line-height: 18px;
    font-size: 16px;
    padding: 0 20px 0 60px;
    background: url("../images/public/tel-icon-2.png") no-repeat 25px center;
}
.news-box .card-box .tel-block{
    float: left;
    font-size: 30px;
    line-height: 36px;
}
.swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    background-size: cover;
    background-position: center;
}
.gallery-top {
    height: 80%;
    width: 100%;
}
.gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding-top: 10px;
}
.gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}
.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}
.tabs-box .layui-tab{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0 15px;
}
.tabs-box .layui-tab .layui-tab-title{
    height: auto;
}
.tabs-box .layui-tab .layui-tab-title li{

    font-size: 20px;
}
.tabs-box .layui-tab .layui-tab-title li a{
    padding-top: 20px;
    padding-bottom: 20px;
}
.tabs-box .layui-tab .layui-tab-title .layui-this:after{
    top: initial;
    bottom: 0;
    border-color: #367cfe;
}
.layui-tab-brief>.layui-tab-title .layui-this{
    color: #367cfe;
}
.tabs-box{
    margin-bottom: 20px;
}
.content-box{
    min-height: 300px;
    margin-bottom: 20px;
}
.content-box-1 .content-box-chil{
    float: left;
}
.content-box-1 .dynamic-box{
    width: 700px;
}

.content-box .tabs-header-h1{
    font-size: 20px;
    line-height: 70px;
    color: #000000;
    height: 70px;
}
.content-box .card-body-box{
    border-bottom: 1px solid #f6f6f6;
    padding: 20px 0;
}
.content-box .card-body-box:last-child{
    border: none;
}
.content-box .card-body-box .card-body-box-child{
    order: 0;
    float: left;
}
.content-box .card-body-box .card-body-box-text{
    width: 546px;
    padding-left: 15px;
}
.content-box .card-body-box .card-body-box-child .layui-badge{
    padding: 3px 8px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #9ab8e8!important;
}
.content-box .card-body-box .card-body-box-child .card-body-box-text-h1{
    font-size: 20px;
    color: #000000;
}
.content-box .card-body-box .card-body-box-child .card-body-box-text-h2{
    font-size: 16px;
    line-height: 36px;
    color: #8c8c8c;
}
.content-box-1 .signup-box{
    width: 270px;
    float: right;
    height: 310px;
    padding-top: 100px;
    background: url("../images/index/box-bg-1.png") no-repeat center top;
}
.content-box-1 .signup-box-chil{
    border-radius: 10px;
    background-color: #cde9ff;
    padding: 20px 20px 50px 20px;
}
.content-box-1 .signup-box-chil .t1{
    line-height: 60px;
    text-align: center;
}
.content-box-1 .signup-box-chil .layui-form-item{
    margin-bottom: 20px;
}
.content-box-1 .signup-box-chil .layui-form-item-btn{
    padding-top: 10px;
}

.content-box-2 .layui-tab-title{
    height: 70px;
    border: none;
}
.content-box-2 .layui-tab-title li{
    line-height: 70px;
    background: url("../images/index/title-bg-2.png") no-repeat center 14px;
    color: #ffffff;
}
.content-box-2 .layui-tab-title .layui-this:after{
    height: 70px;
}
.content-box-2 .layui-tab-brief>.layui-tab-title .layui-this{
    color: #ffffff;
    background: url("../images/index/title-bg-1.png") no-repeat center 14px;

}
.content-box-2 .layui-tab-brief>.layui-tab-more li.layui-this{

    border: none;
}
.content-box-2  .layui-tab-brief>.layui-tab-title .layui-this:after{
    border: none;
}
.content-box-2 .content-tab-header-1{
    border-bottom: 1px solid #f6f6f6;
}
.content-box-2 .content-tab-header-1 .layui-tab-title li{
    padding: 0;
    background-size: 55% 65%;
    background-position: center 16px;
}
.content-box-2  .content-tab-header-1.layui-tab-brief>.layui-tab-title .layui-this{
    background-size: 55% 65%;
    background-position: center 16px
}
.content-box-2 .tabs-header-h1{
    border: none;
}
.content-box-2 .sand-table-box-l{
    background-color: #f5f5f5;
    padding: 15px 20px;
    width: 220px;

}
.content-box-2 .sand-table-box-l .t1 .h1{
    font-size: 20px;
    margin-right: 10px;
}
.content-box-2 .sand-table-box-l .t2{
    font-size: 16px;
    line-height: 40px;
}
.content-box-2 .sand-table-box-l .t4{
    height: 270px;
    overflow-y: auto;
}
.content-box-2 .layui-tab-content-box-1{
    padding-top: 0;
}
.content-box-2 .t4-box li{
    background-color: #ffffff;
    margin-bottom: 20px;

}
.content-box-2 .t4-box li .img-box{
    height: 104px;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #f6f6f6;
}
.content-box-2 .t4-box li.active .img-box:after{
    content: '.';
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    background-color: rgba(252,252,154,0.3);
}
.content-box-2 .t3{
    margin-bottom: 20px;
}
.content-box-2 .t4-box li .t4-box-h1{
    padding: 0 10px;
    font-size: 16px;
}

.content-box-3 .layui-tab-item .line-box{
    padding:10px 0 10px 15px;
    border-bottom: 1px solid #f6f6f6;

}
.content-box-3 .img-box{
    width: 270px;
    margin-right: 20px;
}
.content-box-3 .img-box img{
    width: 270px;
    height: auto;
}
.content-box-3 .text-box{
    padding-top: 30px;
}
.content-box-3 .text-box .t1{
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
}
.content-box-3 .text-box .t2{
    font-size: 16px;
    line-height: 40px;
    color: #8c8c8c;
}
.content-box-3 .text-box .t2 .num{
    font-size: 22px;
    color: #ff0000;
}
.content-box-3 .text-box .t3{
    font-size: 16px;
    line-height: 40px;
    color: #8c8c8c;
}
.content-box-4 .line-box{
    padding:10px 0 10px 15px;
    border-bottom: 1px solid #f6f6f6;
}
.content-box-4 .line-box .line-box-text{
    float: left;
    width: 50%;
}
.content-box-4 .line-box  .layui-form-label{
    text-align-last: justify;
    text-align: justify;
    text-justify: distribute-all-lines;
    color: #8c8c8c;
    font-size: 16px;
}
.content-box-4 .line-box  .word-box{
    line-height: 38px;
    color: #8c8c8c;
    font-size: 16px;
}
.content-box-6 .img-box{
    float: left;
    border-radius: 10px;
}
.content-box-6 .img-box .img{
    border-radius: 10px;
    width: 100%;
    height: auto;
}
.content-box-6 .img-box-1{
    width: 460px;
    height: 360px;
    margin-right: 30px;
    margin-left: 10px;
    background-color: #0a6aa1;
}
.content-box-6 .img-box-2{
    width: 200px;
    height: 120px;
    margin: 0 0 30px 20px;
    background-color: #0a6aa1;
}
.content-box-6 .img-box-3{
    width: 400px;
    height: 60px;
    margin-bottom: 30px;
}
.content-box-6 .layui-tab-title-box{
    position: absolute;
    top: 30px;
    right: 120px;
}
.content-box-6 .layui-tab-title-box .layui-tab-title{
    border: none;
}
.content-box-6 .layui-tab-title-box .layui-tab-title li{
    background-color: #e3e3e3;
    border-radius: 5px;
    margin: 0 10px;
}
.content-box-6 .layui-tab-title-box .layui-tab-title li.layui-this{
    border: none;
    color: #ffffff;
    background:#11c1fe;
    background:-webkit-linear-gradient(left,#11c1fe,#367cfe);
    background:-o-linear-gradient(right,#11c1fe,#367cfe);
    background:-moz-linear-gradient(right,#11c1fe,#367cfe);
    background:linear-gradient(to right,#11c1fe,#367cfe);
}
.content-box-6 .layui-tab-title-box .layui-tab-title li.layui-this:after{
    display: none;
}
.content-box-6 .kan-fang{
    height: 80px;
    line-height: 80px;
    border-radius: 80px;
    width: 390px;
    margin: 0 auto;
    position: relative;
    background-color: #cbe7fe;
}
.content-box-6 .kan-fang a{
    display: block;
    color: #437aff;
    font-size: 30px;
    padding-left: 50px;
}
.content-box-6 .kan-fang .img-box{
    position: absolute;
    top: -30px;
    right: 20px;
    width: 160px;
    height: 90px;

}
.content-box-6 .kan-fang .img-box img{
    width: 100%;
    height: auto;
}


.layui-card-body .comment-item{
    padding-top: 30px;
    border-bottom: 1px solid #f6f6f6;
}
.layui-card-body .comment-item:last-child{
    border: none;
}
.content-box-7{
    margin-bottom: 50px;
}
.content-box-7 .user-icon-box{
    width: 100px;
}
.content-box-7 .user-icon-box img{
    width: 80px;
    height: 80px;
}
.content-box-7 .user-text{
    width: 860px;
}
.content-box-7 .comment-text{
    padding: 20px 0;
}
.content-box-7 .reply-box .reply-box-chil{
    position: relative;
}
.content-box-7 .reply-box .reply-box-chil h2.layui-colla-title{
    width: 20px;
}
.content-box-7 .reply-box  {
    border: none;
}
.content-box-7 .reply-box .reply-box-chil .btn-icon{
    position: absolute;
    top: 10px;
    left: 50px;
    cursor: pointer;
}
.content-box-7 .reply-box .reply-box-chil h2.layui-colla-title{
    background-color: inherit;
    padding-left: 0;
}
.content-box-7 .reply-box .reply-box-chil h2 .layui-colla-icon{
    display: none;
}
.content-box-7 .more-box{
    text-align: center;
}
.content-box-7 .more-box .more-btn{
    color: #6c90ff;
    font-size: 16px;
}
.content-box-7 .more-box .go-btn{
    background-color: initial;
    color: #999999;
}

.content-box-8 .swiper-container {
    width: 100%;
    height: 300px;
    padding-bottom: 60px;
}
.content-box-8 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.content-box-8 .swiper-slide .swiper-slide-box{
    position: absolute;
    left: 5%;
    bottom: -30px;
    width: 90%;
    height: 60px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
}
.content-box-8 .swiper-slide .swiper-slide-box .t1{
    text-align: center;
}
.content-box-8 .swiper-slide .swiper-slide-box .t2{
    text-align: center;
    color: #ff0000;
}
.content-box-8 .swiper-slide .swiper-slide-box .t2 span{
    color: #999999;
}
.content-box-8  .swiper-pagination{
    display: none;
}