<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>头部</title>
    <link rel="stylesheet" href="../piece/layui-v2.5.0/layui/css/layui.css">
    <link rel="stylesheet" href="../piece/swiper-4.5.0/dist/css/swiper.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/page.css">
    <script src="../piece/jquery.2.0.0.js"></script>
    <script src="../piece/layui-v2.5.0/layui/layui.js"></script>
    <script src="../piece/swiper-4.5.0/dist/js/swiper.js"></script>
</head>
<body>
<div class="header">
    <div class="header-menu">

    </div>
    <div class="header-breadcrumb">

    </div>
</div>
<script>
    $(function(){
    });
</script>
</body>
</html>